.diagram-component {
  width: 1300px;
  height: 700px;
  border: solid 1px black;
  background-color: white;
}

.scenario1-link {
  stroke: gray;
  stroke-width: 5px;
  opacity: 0.40;
}

.scenario2-link {
  stroke: gray;
  stroke-width: 5px;
  opacity: 0.40;
}

.scenario1-node:hover {
  opacity: 0.50;
}


.scenario3-link {
  stroke: #440044;
  stroke-width: 5px;
  opacity: 0.50;
}

.scenario3-node {
  stroke: #440044;
  fill: #440044;
}

.scenario3-node:hover {
  opacity: 0.50;
}

.scenario4-node-knowledge {
  stroke-dasharray: "5";
  stroke: #ff0099;
}

.scenario4-node-decision {
  /* fill: chocolate; */
  stroke-dasharray: "3";
  stroke:darkblue;
}

.scenario4-node-model {
  fill: white;
  stroke-dasharray: "1";
  stroke: firebrick;
}


div.tooltip {	
  position: absolute;			
  text-align: center;			
  padding: 0px;
  margin: 5px;				
  font: 12px sans-serif;		
  background: white;	
  border: 2px;
  border-color: black;
  border-radius: 4px;
  border-style: solid;
}

.ilink {
    stroke: #440044;
    stroke-width: 1px;
    fill: none;
  }
  .ilink--selected {
    stroke: #2ca02c;
    stroke-width: 3px;
    fill: none;
  }
  
  .zone1 {
    stroke: #ff0099;
    stroke-width: 3px;
    fill: #cc44ff;
  }
  
  .zone2 {
    stroke: #0044ff;
    stroke-width: 3px;
    fill: #00ccff;
  }
  
  .zone3 {
    stroke: #00ff44;
    stroke-width: 3px;
    fill: #44cc00;
  }
  


  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  table, th, td {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-collapse: collapse;
  }

  table, tr:hover {background-color: #f5f5f5;}
